<!DOCTYPE html>
<html>
  <head>
    <title>Faves&Hates</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Back to home BB</a></li>
      <li><a href="/faves/foods">Favorite Foods</a></li>
      <li><a href="/faves/animals">Favorite Animals</a></li>
      <li><a href="/hates/foods">Hated Foods</a></li>
      <li><a href="/hates/animals">Hated Animals</a></li>
    </ul>
    <%- body %>
  </body>
</html>
